html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.favorite-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
}

.input-wrapper input {
    background-color: #eee;
    border: none;
    padding: 3px;
    padding-left: 12px;
    font-size: 1rem;
    min-width: 50%;
    border-radius: 1rem;
    color: black;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
}

.input-wrapper-full input {
    background-color: #eee;
    border: none;
    padding: 3px;
    padding-left: 12px;
    font-size: 1rem;
    width: 100%;
    border-radius: 1rem;
    color: black;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
    margin: 4px;
}

.input-wrapper-full input:focus {
    outline-color: #065dd8;
}

.input-wrapper input:focus {
    outline-color: #065dd8;
}

.title {
    font-size: 9px;
    margin-left: 50%;
}

.configButton {
    position: fixed;
    top: 6px;
    right: 10px;
    width: 15px;
    height: 15px;
    border: none;
    padding: 2px;
    cursor: pointer;
    transition: 0.5s;
    background-image: url("config-img.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.configButton:hover {
    transition: 0.3s;
    transform: rotate(90deg);
    background-image: url("config-color.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.favoriteButton {
    position: fixed;
    bottom: 4px;
    right: 10px;
    width: 20px;
    height: 20px;
    border: none;
    padding: 2px;
    cursor: pointer;
    transition: 0.5s;
    background-image: url("star-black.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.favoriteButton:hover {
    transition: 0.2s;
    background-image: url('star-color.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.addFavoriteButton {
    margin-left: 12px;
    width: 20px;
    height: 20px;
    border: none;
    padding: 2px;
    cursor: pointer;
    transition: 0.5s;
    background-image: url("add.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.addFavoriteButton:hover {
    transition: 0.2s;
    background-image: url('addColor.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.buttonGoTo {
    margin-left: 12px;
    width: 20px;
    height: 20px;
    border: none;
    padding: 2px;
    cursor: pointer;
    transition: 0.5s;
    background-image: url("fusee-black.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.buttonGoTo:hover {
    background-image: url('fusee-color.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.buttonClose {
    position: fixed;
    top: 6px;
    right: 10px;
    width: 15px;
    height: 15px;
    border: none;
    padding: 2px;
    cursor: pointer;
    transition: 0.5s;
    background-image: url("close-black.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.buttonClose:hover {
    transition: 0.4s;
    transform: rotate(90deg);
    background-image: url("close-color.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.buttonDelete {
    width: 15px;
    height: 15px;
    border: none;
    padding: 2px;
    cursor: pointer;
    transition: 0.5s;
    background-image: url("close-black.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.buttonDelete:hover {
    transition: 0.4s;
    transform: rotate(90deg);
    background-image: url("close-color.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/* CSS */
.button-55 {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 8px;
}

.button-55:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.button-55:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}